body{background:#e1e1e1; margin: 0px; padding: 0px; padding-top: 20px;}
#main-body{background:#fff;margin-left:auto;margin-right:auto;width:1000px;display:block;padding:30px;border:1px solid #ccc}
.clear{clear:both}
table.center{margin-left:auto;margin-right:auto}
table,th,td{border:1px solid #000;text-align:center}
p,h2,h3,body{font-family:Trebuchet MS}
h1,h2,h3,h4,h5{font-family:"Lato",sans-serif; margin: 0px; padding: 0px;}

h1 {margin-bottom: 25px;}

p{font:15px/1.7 Trebuchet MS; padding-top: 0px; padding-bottom: 20px; margin: 0px;}
header{text-align:left;clear:both;padding:0px 30px;margin-left:auto;margin-right:auto;display:block;background:#35C9FF; width: 1000px; height: 70px;}
header h1 {color: #fff; font-size: 25px; margin-top: 22px;}
header h1 a {color: #fff; text-decoration: none;}
header .lefthalf, header .righthalf {width: 50%; float: left;}

footer{text-align:left;clear:both;width:1000px;padding:10px 30px;background:#35c9ff;margin-left:auto;margin-right:auto;display:block}
footer p{font-size:12px;color:#fff; padding-bottom: 0px;}

nav ul {margin: 0px; padding: 0px; display: block; float: right;}
nav ul li {font-size: 18px; margin: 0px; list-style: none; float: left; margin-left: 10px; margin-top: 10px;}
nav ul li a {color:#fff;text-decoration:none; padding: 15px 20px; background: #0075B2; display: inline-block; border: 1px solid #000;}
nav ul li a:hover {background: #004B73; color: #fff;}

a:hover {color: #004B73}

boxed{border:1px solid green}
