body {
    background: #e1e1e1;
    margin: 0px;
    padding: 20px 0px 0px;
}

#main-body {
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: block;
    padding: 30px;
    border: 1px solid #ccc;
}

#login_box {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    #position: fixed;
    border: solid 1px black;
    width: 500px;
    background: #35C9FF;
    text-align: center;
}

#order_creation_area{
    border: solid 1px black;
}

#vending_amendments_section{
    float: left;
    width: 33%;
    margin:5px;
    text-align:center;
}

.page_function_title{
    text-align:center;
    font-style: italic;
    color: #0075B2;
}

#stockroom_amendments_section{
    float:left;
    width: 33%;
    margin:5px;
    text-align:center;
}

.adjustment_controls {
    border-bottom: 2px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-collapse: collapse;
    background: #E8E8EE;

}
.adjustment_hr {
    height:1px;
    background:#000000;
    margin: 1em;
}

.adjustment_controls th, .adjustment_controls thead, .adjustment_controls td{
    border:none;
    outline:none;
}

#order_compose_section{
    clear: both;
    margin:5px;
    text-align:center;
}

.clear {
    clear: both
}

.index_shortcut_button {
    width: 200px;
    height: 200px;
    font-size: 200%;
}



table.center {
    margin-left: auto;
    margin-right: auto
}

table, th, td {
    border: 1px solid #000;
    text-align: center
}

p, h2, h3, body {
    font-family: Trebuchet MS, serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-bottom: 25px;
}

p {
    font: 15px/1.7 Trebuchet MS;
    padding-top: 0;
    padding-bottom: 20px;
    margin: 0;
}

header {
    text-align: left;
    clear: both;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #35C9FF;
    width: 1200px;
    height: 70px;
}

header h1 {
    color: #fff;
    font-size: 25px;
    margin-top: 22px;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

header .lefthalf, header .righthalf {
    width: 50%;
    float: left;
}

footer {
    text-align: left;
    clear: both;
    width: 1200px;
    padding: 10px 30px;
    background: #35c9ff;
    margin-left: auto;
    margin-right: auto;
    display: block
}

footer p {
    font-size: 12px;
    color: #fff;
    padding-bottom: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

nav ul li {
    font-size: 15px;
    list-style: none;
    float: left;
    margin: 10px 0 0 10px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    background: #0075B2;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 25px;
}

nav ul li a:hover {
    background: #004B73;
    color: #fff;
}

a:hover {
    color: #004B73
}