table.center {
	margin-left:auto;
	margin-right:auto;
}


table, th, td {
	border: 1px solid black;
	text-align:center;

}

h1, p, h2, h3, body{
	/*font-family:Century Gothic, sans-serif;*/
	font-family: Trebuchet MS;
}

#header {
	position: static;
	top: 0;
	width: 100%;
	/*background-color: #B9CCFA;*/
	background-color: #d3d3d3;
	font-size: 50%;
	border: 2px solid;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;

}

#footer {
	text-align: center;
	clear:both;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

#main-body {
	background-color: #E3E1F1;
}

ul li { list-style: none; display: inline; }
ul li { font-size: 24px; }
ul li:after { content: " \00b7"; }
ul li:last-child:after { content: none; }

.invisible_link {
	color: #000; text-decoration: none;
}

a:active {
    background-color: yellow;
}

.boxed {
  border: 1px solid green ;
}